.search-form__container {
	display: flex;
	justify-content: center;
	font-family: Helvetica, sans-serif;
}

.search-form__item {
	margin: 20px;
}

.keyword-input {
	width: 200px;
	height: 50px;
	line-height: 40px;
	padding: 5px 10px;
	font-size: 1.1em;
}

.initiate-search-btn {
	width: 100px;
	height: 45px;
	font-size: 1.1em;
	margin: 20px 5px;
	// border: 1px solid black;
	// border-radius: 7px;
	// background-color: lightblue;

	&:hover {
		// background-color: lightgreen;	
		// border-width: 2px;
		cursor: pointer;
	}
}